.myParent{
    transition: 1s;
}
.myParent:hover .myIcon{
    display: flex;
}
.myIcon{
    display: none;
}
.myParent:hover .myImage{
    transform: scale(1.25);
    transition: 1s;
    opacity: 0.6;
}